

 nav ul li{
list-style-type: none;
display: inline-block;
padding-top: 10px;
 }
nav ul li a{ 
color: white;
text-decoration: none;
font-family: cursive;


font-size: 40px;
 }

 nav ul{
 	vertical-align: top;}

 nav ul li:hover a{background-color: black;}

 nav ul li.acc{padding-left: 16%;}
 nav ul li.cat{padding-left: 16%;}
 nav ul li.con{padding-left: 16%;}

 header{background-color: black;
vertical-align: top;

 }

 header p{color: white;
 	text-align: center;
 font-size: 30px;

}

h1.c{color:white;
	margin-top: 12%;
	text-align: center;
font-size: 40px;

}



h1.cc{
font-size: 55px;
margin-top: 2%;
text-align: center;
color: white;

}

body{background-repeat: no-repeat;
background-size: 100%;}

div.para h1{font-family: sherif;
text-align: center;
font-size: 30px;
margin-top: 40%}

div.para p{font-family: sherif;
	margin-left: 30%;
	margin-right: 30%;
	text-align-last: center;

}

div.cata h1{font-family: sherif;
text-align: center;
margin-top: 8%;}

div.cata img{width: 50%;
margin-left: 23%;
margin-top: 4%}

div.cata p{
font-size: 30px;
text-align: center;


}